<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zst.el.dao.EmUserPasswordMapper">
  <resultMap id="BaseResultMap" type="com.zst.el.bean.EmUserPassword">
    <id column="SG_ID" jdbcType="INTEGER" property="sgId" />
    <result column="SG_USER_ID" jdbcType="INTEGER" property="sgUserId" />
    <result column="SG_STATE" jdbcType="CHAR" property="sgState" />
    <result column="SG_PASSWORD" jdbcType="VARCHAR" property="sgPassword" />
    <result column="SG_CREATE_USER" jdbcType="INTEGER" property="sgCreateUser" />
    <result column="SG_CREATE_TIME" jdbcType="VARCHAR" property="sgCreateTime" />
    <result column="SG_UPDATE_TIME" jdbcType="VARCHAR" property="sgUpdateTime" />
    <result column="SG_REMARK" jdbcType="VARCHAR" property="sgRemark" />
  </resultMap>

  <sql id="Base_Column_List">
    SG_ID, SG_USER_ID, SG_STATE, SG_PASSWORD, SG_CREATE_USER, SG_CREATE_TIME, SG_UPDATE_TIME, 
    SG_REMARK
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from em_user_password
    where SG_ID = #{sgId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from em_user_password
    where SG_ID = #{sgId,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.zst.el.bean.EmUserPassword">
    insert into em_user_password (SG_ID, SG_USER_ID, SG_STATE, 
      SG_PASSWORD, SG_CREATE_USER, SG_CREATE_TIME, 
      SG_UPDATE_TIME, SG_REMARK)
    values (#{sgId,jdbcType=INTEGER}, #{sgUserId,jdbcType=INTEGER}, #{sgState,jdbcType=CHAR}, 
      #{sgPassword,jdbcType=VARCHAR}, #{sgCreateUser,jdbcType=INTEGER}, #{sgCreateTime,jdbcType=VARCHAR}, 
      #{sgUpdateTime,jdbcType=VARCHAR}, #{sgRemark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zst.el.bean.EmUserPassword">
    insert into em_user_password
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sgId != null">
        SG_ID,
      </if>
      <if test="sgUserId != null">
        SG_USER_ID,
      </if>
      <if test="sgState != null">
        SG_STATE,
      </if>
      <if test="sgPassword != null">
        SG_PASSWORD,
      </if>
      <if test="sgCreateUser != null">
        SG_CREATE_USER,
      </if>
      <if test="sgCreateTime != null">
        SG_CREATE_TIME,
      </if>
      <if test="sgUpdateTime != null">
        SG_UPDATE_TIME,
      </if>
      <if test="sgRemark != null">
        SG_REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sgId != null">
        #{sgId,jdbcType=INTEGER},
      </if>
      <if test="sgUserId != null">
        #{sgUserId,jdbcType=INTEGER},
      </if>
      <if test="sgState != null">
        #{sgState,jdbcType=CHAR},
      </if>
      <if test="sgPassword != null">
        #{sgPassword,jdbcType=VARCHAR},
      </if>
      <if test="sgCreateUser != null">
        #{sgCreateUser,jdbcType=INTEGER},
      </if>
      <if test="sgCreateTime != null">
        #{sgCreateTime,jdbcType=VARCHAR},
      </if>
      <if test="sgUpdateTime != null">
        #{sgUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="sgRemark != null">
        #{sgRemark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.zst.el.bean.EmUserPassword">
    update em_user_password
    <set>
      <if test="sgUserId != null">
        SG_USER_ID = #{sgUserId,jdbcType=INTEGER},
      </if>
      <if test="sgState != null">
        SG_STATE = #{sgState,jdbcType=CHAR},
      </if>
      <if test="sgPassword != null">
        SG_PASSWORD = #{sgPassword,jdbcType=VARCHAR},
      </if>
      <if test="sgCreateUser != null">
        SG_CREATE_USER = #{sgCreateUser,jdbcType=INTEGER},
      </if>
      <if test="sgCreateTime != null">
        SG_CREATE_TIME = #{sgCreateTime,jdbcType=VARCHAR},
      </if>
      <if test="sgUpdateTime != null">
        SG_UPDATE_TIME = #{sgUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="sgRemark != null">
        SG_REMARK = #{sgRemark,jdbcType=VARCHAR},
      </if>
    </set>
    where SG_ID = #{sgId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zst.el.bean.EmUserPassword">
    update em_user_password
    set SG_USER_ID = #{sgUserId,jdbcType=INTEGER},
      SG_STATE = #{sgState,jdbcType=CHAR},
      SG_PASSWORD = #{sgPassword,jdbcType=VARCHAR},
      SG_CREATE_USER = #{sgCreateUser,jdbcType=INTEGER},
      SG_CREATE_TIME = #{sgCreateTime,jdbcType=VARCHAR},
      SG_UPDATE_TIME = #{sgUpdateTime,jdbcType=VARCHAR},
      SG_REMARK = #{sgRemark,jdbcType=VARCHAR}
    where SG_ID = #{sgId,jdbcType=INTEGER}
  </update>
</mapper>